/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";
@import 'bourbon';

// VARIABLES
$blue: #0095CE;
$hover-border: #BEBEBE;
$background-color: #E4E4E4;
$border-size: 3px;
$header-height: 120px;

#container * {
  font-size: 16px;
}

#container {
  width: 960px;
  margin: auto;
  background-color: $background-color;
  min-height: 800px;
}

#header {
  background-color: $blue;
  @include size(100% $header-height);
  line-height: $header-height;
  margin-bottom: 25px;

  .banner {
    margin-left: 84px;
  }

  .logo {
    margin: 0 0 10px 145px;
  }
}

input[type="text"],
input[type="email"] {
  height: 60px !important;

  &:hover {
    border: $border-size solid $hover-border;
    transition: none;
  }

  &:focus {
    color: $blue;
    border-color: $blue;
    outline: none;
    background-color: $background-color;
  }
}

.select {
  &:hover {
    border: $border-size solid #FFF !important;
    transition: none !important;
  }

  &:focus {
    color: inherit !important;
    border-color: #FFF !important;
    outline: none !important;
    background-color: #FFF !important;
  }
}

.select-button {
  background-image: url(../img/select-button.png);
  background-repeat: no-repeat;
  @include size(60px);
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  cursor: pointer;
  @include transition(200ms all ease-out);

  &:focus, &:hover, &.active {
    background-image: url(../img/select-button-active.png);
    outline: none;
    border: none;
  }

  & + ul {
    display: none;
    list-style-position: inside;
    list-style-type: none;
    margin: -16px 0 0;
    position: absolute;
    width: 100%;
    padding-right: 16px;
    z-index: 200;

    > li {
      padding: 5px;
      border-bottom: 1px solid lighten($blue, 5%);
      background-color: $blue;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: darken($blue, 10%);
      }
    }
  }
}

button[type="submit"] {
  margin: 15px;
  background-color: $blue;

  &:hover {
    background-color: darken($blue, 10%);
  }
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  & + label.css-label {
    padding-left: 25px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
  }

  &:checked + label.css-label {
    background-position: 0 -22px;
  }
}

.css-label {
  background-image: url(../img/customcheck.png);
}

